body, .cat{
    display: flex;
    align-content: center;
    justify-content: center;
    background: burlywood;
}

.cat{
    flex-wrap: wrap;
    width: 300px;
    animation: start 2s ease-in-out;
}


#anotherEar, #ear{
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 90px solid black;
}

#ear{
    margin-right: 100px;
    transform: rotate(-30deg);
}

#anotherEar{
    transform: rotate(30deg);
}


#face{
    margin-top: -30px;
    width: 250px;
    height: 145px;
    background: black;
    -moz-border-radius: 145px / 70px;
    -webkit-border-radius: 145px / 70px;
    border-radius: 145px / 80px;
}

#rightEye, #leftEye{
    width: 50px;
    height: 50px;
    margin-top: -400px;
    background:yellowgreen ;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 75% 15%;
}

#leftPupil, #rightPupil{
    width: 40px;
    height: 10px;
    background: black;
    opacity: 0.7;
    margin-left: 15px;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    transform: rotate(35deg) ;
    margin-top: 16px;
}

#rightPupil{
    transform: rotate(53deg) ;
}

#rightEye{
    margin-right: 50px;
    transform: rotate(55deg);
}

#leftEye{
    transform: rotate(35deg);
}

#catsBody{
    margin-top: -100px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 400px solid black;
    border-radius: 30px;
}

#paws{
    height: 30px;
    width: 200px;
    margin-top: -40px;
    border-radius: 30px;
    background: black;
}

#tail{
    margin-top: -250px;
    margin-left: 70px;
    width:200px;
    height:200px;
    border-radius:100px;
    border-top:40px solid #000;
    transform: rotate(110deg);
    animation: tailRotate 10s infinite ease-in-out;
}

#nose{
    position: absolute;
    margin-top: 148px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid darkred;
}

#mouth{
    margin-top: 175px;
    position: absolute;
    width:4px;
    height:3px;
    border-radius:70px;
    border-top:6px solid chocolate;
    transform: rotate(180deg);
}

.cat:hover #leftEye, .cat:hover #rightEye{
    opacity: 0;
    -webkit-transition: background 20s;
    transition: background 20s;
}

.cat:hover #mouth{
    transform: scale(-2);
}

@keyframes start {
    0%{opacity: 0}
    50%{opacity: 0.5}
    100%{opacity: 1}
}

@keyframes tailRotate {
    0%{transform: rotate(110deg)}
    50%{transform: rotate(150deg)}
    100%{transform: rotate(110deg)}
}




